:root{

  --white: #FFFFFF;
  --yellow: #F6BD26;
  --primary-100: #2179FF;
  --primary-90: #1E6DE5;
  --primary-80: #1B61CC;
  --primary-70: #1755B2;
  --primary-40: #0D3166;
  --primary-20: #071833;
  --secondary-100: #21FFFF;
  --secondary-20: #073333;
  --neutral-100: #FAFCFF;
  --neutral-98: #F2F5FA;
  --neutral-95: #E9ECF2;
  --neutral-90: #DADFE5;
  --neutral-80: #C2C6CC;
  --neutral-60: #919499;
  --neutral-50: #797C80;
  --neutral-40: #616366;
  --neutral-30: #494A4D;
  --neutral-20: #303133;
  --neutral-10: #18191A;
  --neutral-5: #0C0C0D;
  --error-100: #FF2134;
  
  --gradient: linear-gradient(270deg, #0f4392 0%, #001d3d 100%);
  /* fontfamily*/
  --font-primary: 'Montserrat', sans-serif;
  /*fontsize*/
  --fs-base: 62.5%;
  --fs-headline-large: 3.6rem;
  --fs-headline-medium: 2.8rem;
  --fs-headline-small: 2.8rem;
  --fs-title-large: 2.2rem;
  --fs-title-medium: 2rem;
  --fs-title-small: 1.8rem;
  --fs-body-large: 1.6rem;
  --fs-body-medium: 1.6rem;
  --fs-label-large: 1.6rem;
  --fs-label-medium: 1.4rem;
  /* line height */
  --lh-headline-large: 44px;
  --lh-headline-medium: 36px;
  --lh-headline-small: 36px;
  --lh-title-large: 28px;
  --lh-title-medium: 24px;
  --lh-title-small: 24px;
  --lh-body-large: 24px;
  --lh-body-medium: 24px;
  --lh-label-large: 24px;
  --lh-label-medium: 20px;
  /* letter spacing*/
  --traking-n-025: -0.25px;
  --traking-p-05: 0.5px;
  /* line width*/
  --weight-bold: 700;
  --weight-semiBold: 600;
  --weight-regular: 400;
  /*bodder radius*/
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-extra-large: 32px;
  --radius-full: 1000px;
  --radius-circle: 50%;
  /* box-shadow*/
  --shadow-1: 0px 2px 4px 0px #00000033;
  --shadow-2: 0px 5px 10px 0px #0000000D;
  --shadow-3: 0px 5px 10px 0px #00000033;
  --shadow-4: 0px 10px 20px 0px #0000001A;
  /*transition*/
  --transition-easing-quick: cubic-bezier(0, 0.7, 0.3, 1);
  --transition-duration-quick: 200ms;
  --transition-duration-smooth: 500ms;
  }
  *,
  *::before,
  *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  li{ list-style: none;}
  
  a,
  img,
  span,
  input,
  select,
  button{  display: block; }
  
  a{
    color: inherit;
    text-decoration: none;
  }
  img{
    height: auto;
  }
  input,
  button,
  select{
    background: none;
    border: none;
    font:inherit
  }
  button{
    cursor: pointer;
  }
  input,
  select{
    width: 100%;
    outline: none;
  }
  address{
    font-style: normal;
  }
  select{
    appearance: none;
    --webkit-appearance: none;
    -moz-appearance: none;
  }
  html{
    font-family: var(--font-primary);
    font-size: var(--fs-base);
    scroll-behavior: smooth;
  }
  body{
    background-color: var(--neutral-98);
    color: var(--neutral-5);
    font-size: var(--fs-body-medium);
    line-height: var(--lh-body-medium);
  }
  ::-webkit-scrollbar{ width: 12px;}
  ::-webkit-scrollbar-track{ background-color: var(--neutral-90);}
  ::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: var(--neutral-60);}
  
  /*preset text*/
  .headline-large{
    font-size: var(--fs-headline-large);
    line-height: var(--lh-headline-large);
    font-weight: var(--weight-bold);
    letter-spacing: var(--traking-n-025);
  }
  .headline-medium{
    font-size: var(--fs-headline-madium);
    line-height: var(--lh-headline-medium);
    font-weight: var(--weight-bold);
    letter-spacing: var(--traking-n-025);
  }
  .headline-small{
    font-size: var(--fs-headline-small);
    line-height: var(--lh-headline-small);
    font-weight: var(--weight-bold);
    letter-spacing: var(--traking-n-025);
  }
  .title-large{
    font-size: var(--fs-title-large);
    line-height: var(--fs-title-large);
    font-weight: var(--weight-semiBold);
  }
  .title-medium{
    font-size: var(--fs-title-medium);
    line-height: var(--fs-title-medium);
    font-weight: var(--weight-semiBold);
  }
  .title-small{
    font-size: var(--fs-title-small);
    line-height: var(--fs-title-small);
    font-weight: var(--weight-bold);
  }
  .body-large{
    font-size: var(--fs-body-large);
    line-height: var(--fs-body-large);
    font-weight: var(--weight-regular);
  }
  .body-medium{
    font-size: var(--fs-body-medium);
    line-height: var(--fs-body-medium);
    font-weight: var(--weight-regular);
  }
  .label-medium{
    font-size: var(--fs-label-medium);
    line-height: var(--fs-label-medium);
    font-weight: var(--fs-label-medium);
  }
  .label-large{
    font-size: var(--fs-label-large);
    line-height: var(--fs-label-large);
    font-weight: var(--weight-bold);
  }
  /*personalization for symbols*/
  .material-symbols-rounded{
  display: block;
  width: 1em;
  height: 1em;
  overflow:hidden;
  font-variation-settings: 
  'fill'0,
  'wght'400,
  'grad'0,
  'opsz' 24;
  }
  /*conteiner-header*/
  .container {
    padding-inline: 16px; 
     
    width: 100%; 
    margin-inline: auto; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
  
  /*componemtes*/
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding-inline: 24px;
    border-radius: var(--radius-full);
    max-width: max-content;
    transition: var(--transition-duration-quick) var(--transition-easing-quick);
    cursor: pointer;
  }
  .btn-fill{
    background-color: var(--primary-100);
    color: var(--neutral-10);
  }
  .btn-fill:where( :hover, :focus){
    background-color: var(--primary-90);
    box-shadow: var(--shadow-1);
  }
  .btn-fill:where( :active, :focus-visible){
    background-color: var(--primary-80);
  }
  .btn-outline{
    color: var(--primary-40);
    box-shadow: inset 0 0 0 2px var(--primary-100);
  }
  .btn-outline:where( :hover, :focus){
    background-color: var(--primary-90);
    box-shadow: var(--shadow-1);
    color: var(--neutral-80);
  }
  .btn-outline:where( :active, :focus-visible){
    background-color: var(--primary-80);
    color: var(--neutral-100);
  }
  .icon-btn{
    height: 40px;
    width: 40px;
    display: grid;
    place-items: center;
    background-color: var(--neutral-100);
    color: var(--neutral-10);
    border-radius:var(--radius-small);
    box-shadow: var(--shadow-3);
  }
  .icon-btn:where( :active, :focus-visible){
    background-color: var(--neutral-90);
  
  }
  /*header*/
  .header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 4;
  }
  
  .header.active {
    animation: slide_in 500ms ease forwards;
    height: 72px;
    background-color: var(--primary-40);
  }
  
  @keyframes slide_in {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  
  .header .container {
    position: relative;
    background-image: var(--gradient);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

  }
  
  .nav-toggle-btn .close,
  .nav-toggle-btn.active .open {
    display: none;
  }
  
  .nav-toggle-btn .open,
  .nav-toggle-btn.active {
    display: block;
  }
  
  /* Navbar */
  .navbar {
    position: absolute;
    top: 100%; 
    right: 16px; 
    background-color: var(--neutral-100);
    min-width: 260px;
    padding: 16px; 
    border-radius: var(--radius-large);
    box-shadow: var(--shadow-1);
  
    /* Transição de entrada */
    visibility: hidden;
    opacity: 0;
    transform: scale(0.4);
    transform-origin: top right;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 4;
  }
  
  .header.active .navbar {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  
  .navbar,
  .navbar-list,
  .navbar-wrapper {
    display: grid;
    gap: 8px;
  }
  
  .navbar-link,
  .btn-link {
    color: var(--neutral-30);
    padding: 6px;
    transition: var(--transition-duration-quick) var(--transition-easing-quick);
  }
  .btn-link{
    border-block-start: 1px solid var(--neutral-90);
    padding-block-start: 14px;
  }
  :is(.navbar-link, .btn-link):is(:hover,:focus-visible),
  .navbar-link.active{ color: var(--primary-100);}

  /* hero section */
  .hero{
    display: flex;
    position: relative;
    background-image: var(--gradient);
    color:var(--neutral-90);
    padding-block: 5px;
    overflow: hidden;
    isolation: isolate;
  }  

 .hero-banner{
        margin-left: 940px; /* Move a imagem para a direita */
        margin-top: -430px;  /* Move a imagem para baixo */       
 }
   
  .hero-title{
    color: var(--neutral-100);
  }
  .hero-text{
    margin-block: 16px 32px;
  }
  .hero-title{
    display: flex;
    justify-content: space-evenly;
    align-items:baseline;
    text-align: left;
    font-size:50px;
    padding-right: 1100px;
    padding-left: 100px;
  }
  .hero-text{
    display: flex;
    justify-content: center;
    text-align: justify;
    padding-right: 1100px;
    padding-left: 100px;
  }


  /* search bar */
  .search-bar{
    background-color: var(--white);
    display:flex;
    flex-wrap: wrap;
  
    padding: 8px; 
    align-items: center;
    justify-content: space-between;
    border-radius:16px;
    box-shadow:var(--shadow-4);
    color: var(--neutral-50);
    flex-direction:row;
    margin: 70px;
    width: 100%;
    max-width: 900px;
    z-index: 1;
    }
  
    .search-item{
      display: block;
      color: var(--neutral-5);
    }
    .search-item .search-item-field{
      height:auto;
      padding:10px;
      border-radius: 12px;
      transition: var(--transition-duration-quick) var(--transition-easing-quick);
      cursor:pointer;
    }
    .search-item .search-item-field:where(:hover, :focus){
      background-color: var(--neutral-95);
    }
    .search-item:where(.label, .material-symbols-rounded){
      position: absolute;
      pointer-events: none;
    }
    .search-btn{
      /*tamanho e alinhamento*/
      display: flex;
      align-items: center;
      padding: 20px 40px;
      border-radius: 10px;
      gap:1em;
      z-index: 1;
      /*cores*/
      background-color: var(--primary-100); 
      box-shadow:var(--shadow-2);
      color: var(--white);
      
    }
    .search-btn:where( :hover,:after){
      background-color: var(--primary-70);
      transform: scale(0.9);
    }
    .material-symbols-rounded{
      color: var(--primary-90);
      display: block;
      
    }

    /* section property*/
    .section-tittle {
      padding-left: 5cap;
      padding-top: 5cap;
  }
  
  .section-text-container { /* New container for text and button */
      display: flex;
      align-items: center; /* Vertically align items */
      padding-left: 8cap;
      padding-top: 1cap;
  }
  
  .section-text {
      flex-grow: 1; /* Allow text to take up available space */
      text-align: left; /* Align text to the left */
      text-justify: distribute;
  }
  
  .btn-explore {
      margin-left: 2cap; /* Add some space between text and button */
      white-space: nowrap; /* Prevent button text from wrapping */
      padding-right: 70cap;
      background-color: var(--neutral-100);
      border-radius: var(--radius-medium);
      text-align: center;
      padding: 25px;
      color: var(--neutral-100);
      
      color: var(--primary-40);
    box-shadow: inset 0 0 0 2px var(--primary-100);
      
  }
  .btn-explore :hover{
    background-color: var(--primary-70);
    transform: scale(0.9);
  }
/* parte das casas */
.container-casas {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center;
   
}

.home-box {
  display: flex;
  flex-direction: column;
  width: 300px; 
  padding: 20px; 
  background-color: var(--neutral-90);
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-small);
  cursor: pointer;
}

.image-home {
  width: 100%; 
  height: auto;
  display: block;
  margin-bottom: 10px; 
  border-radius: var(--radius-medium);
}

.haedline-small {
  margin-bottom: 5px; 
}

.tittle-large {
  margin-bottom: 5px; /* Add spacing below the title */
}

.location {
  font-size: 14px; /* Adjust font size as needed */
  color: #777; /* Or your preferred color */
}
.list-homes{
  display:flex;
  flex-direction:row;
  gap: 10px;
  padding-top: 1cap;
}
.list-homes-characteristics{
  display:flex;
  flex-direction:row;
  padding-top: 1cap;
}
